# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment:
env/

# Flask stuff:
instance/
.webassets-cache

# VSCode
.vscode/
settings.json

# Testing stuff
.testuser

# Database stuff
# migrations/