body {
    margin: 0;
    background-image: url( '/static/img/founders_p5.jpg' );
    background-repeat:no-repeat;
    display: compact;
    background-size: cover;
}

title, h1, h2, h3, h4, h5, h6, p {
    color: white;
}

a {
    color: white;
}

form {
    color: white;
}

.navbar {
    color: white;
    font-size: 20px;
    margin: 20px;
    word-spacing: 10px;
}
