body {
    margin: 0;
    background-image: url( '/static/img/founders_p5.jpg' );
    background-repeat:no-repeat;
    display: compact;
    background-size: cover;
}

title, h1, h2, h3, h4, h5, h6, p, a, form {
    color: white;
}

#footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.navbar {
    color: white;
    font-size: 20px;
    margin: 20px;
    word-spacing: 10px;
}

.timer {
    height: 85%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: #000;
}