{% extends 'bootstrap/base.html' %}

{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Bike Share - Haverford College</title>
    {% block styles %}
        {{super()}}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    {% endblock %}

{% endblock %}


{% block body %}
{% block navbar %}
<nav class="navbar navbar-light bg-light navbar-custom">
    <a href=" {{ url_for('index') }} ">Home</a>
    {% if current_user.is_anonymous %}
    <a href=" {{ url_for('login') }} ">Login</a>
    {% else %}
    <a href=" {{ url_for('user', username=current_user.username) }} ">Profile</a>
    <a href=" {{ url_for('logout') }} ">Logout</a>
    <a href=" {{ url_for('contact') }} ">Contact</a>
    {% endif %}
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block app_content %}
        {# app content goes here #}
    {% endblock %}      
</div>
{% endblock %}

<div id="footer">
        {% block footer %}
        {% endblock %}
</div>

{% endblock %}