{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>You have 6 hours!</h2>
<p>Time checked-in: {{ check_in_time.strftime('%b %d, %Y %I:%M %p') }} </p>
<p>Time due: {{ due_time.strftime('%b %d, %Y %I:%M %p') }} </p>
<p>Time remaining:</p>
<div class="row">
    <div class="col-lg-6">
        <div class="timer">
            <p id="time"></p>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='timer.js') }}"></script>
<script>
    var Seconds = {{ seconds }};
</script>
{% endblock %}

{% endblock %}