{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>You have 6 hours!</h2>
<p>Time checked-in: {{ check_in_time }} </p>
<p>Time due: {{ due_time }} </p>

<div class="timer">
    <p id="time"></p>
</div>

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='timer.js') }}"></script>
<script>
    var Seconds = {{ seconds }};
</script>
{% endblock %}

{% endblock %}